<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Swagger UI</title>
  <!-- Load the latest Swagger UI code and style from npm using unpkg.com -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/5.17.14/swagger-ui-bundle.min.js" integrity="sha512-7ihPQv5ibiTr0DW6onbl2MIKegdT6vjpPySyIb4Ftp68kER6Z7Yiub0tFoMmCHzZfQE9+M+KSjQndv6NhYxDgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/5.17.14/swagger-ui-standalone-preset.min.js" integrity="sha512-UrYi+60Ci3WWWcoDXbMmzpoi1xpERbwjPGij6wTh8fXl81qNdioNNHExr9ttnBebKF0ZbVnPlTPlw+zECUK1Xw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/5.17.14/swagger-ui.min.css" integrity="sha512-+9UD8YSD9GF7FzOH38L9S6y56aYNx3R4dYbOCgvTJ2ZHpJScsahNdaMQJU/8osUiz9FPu0YZ8wdKf4evUbsGSg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <style>
    .toolbar {
      margin: 20px 0;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="toolbar">
      <div class="form-group">
        <label for="microservice-select" class="font-weight-bold">Select Microservice:</label>
        <select id="microservice-select" class="form-control">
          <option value=""></option>
          {{range .MicroserviceList}}
            <option value="{{.Endpoint}}" {{if .Selected}}selected{{end}}>{{.Name}}</option>
          {{end}}
        </select>
      </div>
    <div id="swagger-ui"></div>
  </div>
  <script>
  document.getElementById('microservice-select').addEventListener('change', function() {
      var newEndpoint = this.value;
      if (newEndpoint !== "{{.SelectedService}}") {
        window.location.href = newEndpoint;
      }
    });
